<!-- layout -->
<%- layout(layoutPath) %>

<!-- content -->
<h3>Информация</h3>
<p><b>Внимание!</b> Несмотря на то, что это web-приложение и создано по персональному заказу заказчика,
    автор не несет никакой ответственности за возможную порчу и потерю данных при пользовании этим web-приложением.
    Будьте внимательны и всегда делайте резервные копии. Данное web-приложение только изменяет данные в загружаемом
    файле, не собирая и не сохраняя никакой информации из загружаемого файла.</p>

<h3>Инструкция</h3>
<ul>
    <li>
        Нажмите кнопку "Открыть", выберите Ваш <b>табличный</b> файл и нажмите кнопку "Конвертировать";
    </li>
    <li>
        Как только конвертация закончится, начнется автоматическое скачивание сконвертированного файла. Ссылка на файл
        будет доступна в течении <%= timeToClean %> часов (если сервер будет перезагружен, то ссылка перестанет быть
        актуальной в момент
        перезагрузки).
    </li>
</ul>

<hr/>

<uploader></uploader>

<%- block('post-load-scripts').append('<script src="/components/uploader/index.js"></script>') %>
<%- block('angular-modules').append('[\'uploader\']') %>