<!-- layout -->
<%- layout(layoutPath) %>

<!-- content -->
<h3>Ошибка <%= status %></h3>
<% if (status == 404) { %>
<p>Запрашиваемая страница или объект не найдены! Проверьте правильно ли набран адрес страницы.</p>
<% } else { %>>
<p><%= message %></p>
<% } %>